:root {
    --blanco: #ffffff;
    --oscuro: #090138;
    --primario:#14142f;
    --secundario:#0066CC;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --text: font-family: 'Bungee Spice', sans-serif;;
}
/*  Globales **/
* {
    margin: 0;
    box-sizing: border-box; /* Hack para Box Model **/
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primario);
    padding: 90px 20px 0;
}
img {
    width: 100%;
}

.contenedor{
    max-width: 1800px;
    margin: 0 auto;
}
/* Header */
.header{
    background-color: #00000033;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.title{
    color: var(--grisClaro);
    font-size: 20px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    padding: 0 40px; 
    height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;   
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: var(--primario);
    transition: 0.5s;
    
}
.bars{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* banner */

.banner{
    background-image: url(../img/entrada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    font-size: 40px;
    text-align: center;
    color: var(--grisClaro);
    height: 650px;
}
.banner-info{
    padding-top: 300px;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #ff0000;
}
.banner-img{
    margin-top: 0px;
}

.search{
    height: 60px;
    width: 580px;
    border-radius: 50px;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.774);
}
.search:hover, .button:hover{
    box-shadow: rgba(113, 113, 113, 0.35) 0px 1px 5px;
}
.search-content_input{
    background-color: transparent;
    width: 435px;
    margin-top: 7px;
    padding-left: 20px;
    resize: none;
    border-style: none;
    outline:0 none;
    text-orientation: upright;
    font-size: 30px;
    color: var(--blanco);
    font-family:Arial, Helvetica, sans-serif;
}
.line{
    height: 1rem;
    background: linear-gradient(70deg, rgb(6, 6, 129), #68028d,
    #51047d, rgba(0, 0, 0, 0.712));
}

.footer {
    text-align: center;
    font-size: 3rem;
    height: 10rem;
}
/* Tabletas */
@media (max-width: 1200px){
    body {
        padding-top: 70px;
    }
    .header{
        height: 60px;
    }
    .logo{
        padding: 0 20px; 
        height: 60px;
    }
    .title{
        font-size: 20px;
        line-height: 70px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        background-color:var(--oscuro);
        position: fixed;
        left: 0;
        top:60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: 0.5s;
    }
    .nav-menu-item{
        line-height: 70px;
     
    }
    .nav-menu-link:hover{
        background-color: transparent;
        color: var(--secundario);
    }
    .bars{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .bars:focus:not(:focus-visible){
        outline: none;
    }
    .banner{
        background-image: url(../img/entrada1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -10px;
        font-size: 40px;
        text-align: left;
        color: var(--grisClaro);
        height: 550px;
    }
    .banner-info{
        padding-top: 180px;
        padding-left: 10px;
    }
    .search{
        width: 300px;
        height: 50px;
        border-radius: 50px;
        border-width: 1px;
        background-color: rgba(0, 0, 0, 0.774);
    }
    .banner-img{
        background-image: none;
        height: auto;

    }
   
}
/* móvi */
@media (max-width: 768px){
    .title{
        font-size: 7px;
        line-height: 70px;
    }
    .banner{
        background: none;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .banner-info{
        height: 300px;
    }
    .banner-img{
        background-image: url(../img/entrada1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }
}

